/*-- CSS Reset --*/
* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: 1em;
}

/*-- Main structural styling--*/

body {
  background: #333333;
  color: #f7f7f7;
  font-family: warnock-pro-display, serif;

}

section , header, footer {
  width: : 80%;
  max-width: 700px;
  margin: auto;
}

/*-- Styling typography --*/

h1, h2, blockquote {
  color: #f7f7f7;
}

p, blockquote {
  margin-bottom: 1.5rem;
  line-height: 1.4;
}


h1 {
  font-size: 5.653rem;
  margin-top: 2em;
}

.lower {
    text-transform: none
}

h2 {
  font-size:1.999rem;
  margin:3em 0 1em 0;
}

blockquote {
  font-size: 1.414rem;
  font-style: italic;
  hanging-punctuation: first;
  text-indent: -0.75rem;
}

cite {
  font-size: 0.8em;
  color: #333333;
  font-style: normal;
}

header h2 {
  font-size: 1.827rem;
  font-style: italic;
  margin-top: -.5em;
  margin-bottom: 1.5em;
  color: #3E8989;

}

header p {
  font-size: 1.3rem
}

.indent {
    padding-left: 4em;
    font-style: italic;
}

.street p {
    color: #f7f7f7;
}

.street h2 {
    color: #f7f7f7;
}


.leader {
    text-transform: uppercase
}

.dropcap {
    font-family: warnock-pro-display, serif;
    float: left;
    font-size: 6rem;
    padding-right: .05em;
    line-height: .5;
    color: #87460D;}

p {font-family: mr-eaves-sans, sans-serif;}

/*-- styling links, below is bottom links--*/

a {
  color: #f7f7f7;
  text-decoration: none;
}

a:hover {
  color: #fc8ebf;
  border-bottom: 2px dotted;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background: #634F5F;
  padding: 2em 0;
  font-size: 0.75rem;
}

nav ul {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li {
  display: inline;
  margin: 20px;
}

/*--links at top of page --*/
nav a {
  color: #f7f7f7;
}

nav a:hover {
  border-bottom: none;
  color: #fc8ebf;
  transition: all 0.3s ease-in-out
}

hr {
  margin: 100px 0;
  height: 1px;
  background-color: #f7f7f7;
  color: #f7f7f7;
  border: 0 none;
}

img {
  display: block;
  padding: 0;
  max-width: 100%;
  border-radius: 10px;
}

.pears {

}

.linen {


}

.boxed {
  background-color: #333333;
  border: 1px solid #333333;
  opacity: 97%;
  margin-left: 15%;
  margin-right: 15%;
}


.gridimage{
  margin: 4em 0;
  max-width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin:6em 0 3em 0;
}

footer p {
  margin: .5em
}

.connections{
    position: relative;
    margin: 0 auto;
  }
  .connections ul{
    margin: 0;
    padding: 0;
  }
  .connections li{
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  .connections a:link{
    border-bottom: none;
  }
  .connections img,
  .connections svg{
    border: none;
  }
  .connections a:hover img,
  .connections a:hover svg{
    border-bottom: none;}

  .connections svg {
        margin: 1em auto;}

  .connections a:hover svg path {
        fill: #D8C385;
        transition: all 0.2s ease-in-out;}

  footer .connections a:hover svg path {
          fill:  #D8C385;
          transition: all 0.2s ease-in-out;}



@media only screen and (max-width: 900px) {
            .gridimage {
              display: grid;
              grid-gap: 20px;
              grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
              padding-bottom: 2em;}

              h1 {
                font-size: 4.5rem
            }

@media only screen and (max-width: 650px) {

    h1 {
        font-size: 3rem
    }

    header h2 {
        font-size: 1.5rem
    }


}
